{% extends "common-content.html" %}

{% block content_js_media %}
    <script type="text/javascript">
        $(function () {
            $('.leave-organization').click(function () {
                return confirm('{{ _("Are you sure you want to leave this organization?") }}\n' +
                    {% if organization.is_open %}
                        '{{ _("You will have to rejoin to show up on the organization leaderboard.") }}'
                    {% else %}
                        '{{ _("You will have to request membership in order to join again.") }}'
                    {% endif %}
                );
            });
        });
        
    {% if request.user.is_authenticated and request.profile in organization %}
        function send_message() {
            const data = {
                user                : window.user.id,
                msg                 : document.getElementById('message').value,
                org                 : {{ organization.pk }},
                csrfmiddlewaretoken : $.cookie('csrftoken')
            }
            if (data.msg.length == 0) return
            $.ajax({
                type    : 'POST',
                url     : '{{ url("chat:send_message") }}',
                data    : data,
                success : function(response) {
                    $('#message').val('')
                }
            })
        }
        {% if EVENT_LAST_MSG %}
        $(function () {
            var blocked = false, request = false;

            function update(index) {
                if (blocked) {
                    request = true;
                    return;
                }
                request = false;
                blocked = true;
                $.ajax({
                    url: '/widgets/message_query/' + index,
                }).done(function (data) {
                    console.log(data)
                    $('#messages').append(data)
                    const messages = document.getElementById('description');
                    messages.scrollTop = messages.scrollHeight;
                    setTimeout(function () {
                        blocked = false;
                        if (request)
                            update();
                    }, 500);
                }).fail(function (data) {
                    console.log('Failed to update messages!');
                });
            }
            event_dispatcher.on('messages_{{ organization.room.id }}', function (message) {
                update(message.id)
            })
        });
        {% endif %}
    {% endif %}
    </script>
{% endblock %}

{% block content_media %}
<link rel="stylesheet" href="{{ static('semantic/components/comment.min.css') }}">
<style>
    .msg p {
        word-wrap: break-word;
        word-break: break-word;
    }
</style>
{% endblock content_media %}

{% block body %}
<div class="flex flex-col lg:flex-row-reverse">
    <div class="lg:basis-1/4">
        <div class="w-full flex p-4 flex-col">
            <div class="font-bold text-white bg-black flex p-2 rounded-t-md text-2xl">
                <div class="flex-1 ">{{ _('Manage') }}</div>
                <div class=""><i class="fa-duotone fa-pen-to-square"></i></div>
            </div>
            <ul class="flex flex-col divide-y border rounded-b-md font-semibold">
                {% if request.user.is_authenticated %}
                    {% if request.profile in organization %}
                    <li class="p-2">
                        <form method="post" class="ui form" action="{{ url('leave_organization', organization.id, organization.slug) }}">
                            {% csrf_token %}
                            <div class="ui field">
                                <button type="submit" class="ui fluid text-red-500 button leave-organization">
                                    {{ _('Leave organization') }}
                                </button>
                            </div>
                        </form>
                    </li>
                    {% elif organization.is_open %}
                    <li class="p-2">
                        <form method="post" class="ui form" action="{{ url('join_organization', organization.id, organization.slug) }}">
                            {% csrf_token %}
                            <div class="ui field">
                                <button type="submit" class="ui fluid positive button" value="">
                                    {{ _('Join organization') }}
                                </button>
                            </div>
                        </form>
                    </li>
                    {% else %}
                    <li class="p-2">
                        <a href="{{ url('request_organization', organization.id, organization.slug) }}"
                           class="ui fluid primary button">{{ _('Request membership') }}</a>
                    </li>
                    {% endif %}
                {% endif %}
        
                {% if can_edit %}
                <li class="p-2">
                    <a class="ui fluid primary button" href="{{ url('edit_organization', organization.id, organization.slug) }}">{{ _('Edit organization') }}</a>
                </li>
            
                {% if not organization.is_open %}
                <li class="p-2">
                    <a class="ui fluid primary button" href="{{ url('organization_requests_pending', organization.id, organization.slug) }}">{{ _('View requests') }}</a>
                </li>
                    
                {% endif %}
        
                {% if perms.judge.add_contest %}
                <li class="p-2">
                    <a class="ui fluid primary button" href="{{ url('admin:judge_contest_add') }}">{{ _('Create contest') }}</a>
                </li>
                {% endif %}

                {% endif %}
            
                {% if perms.judge.change_organization %}
                <li class="p-2">
                    <a class="ui fluid primary button" href="{{ url('admin:judge_organization_change', organization.id) }}">{{ _('Admin organization') }}</a>
                </li>
                {% endif %}
                <li class="p-2">
                    <a class="ui fluid primary button" href="{{ organization.get_users_url() }}">{{ _('View members') }}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="flex flex-col p-4 lg:basis-3/4">
        <div class="flex items-center p-2 text-white bg-black rounded-t-md">
            <div class="flex-1 text-2xl font-bold">{{ _('Information') }}</div>
            <div class="">
                <i class="info circle icon"></i>
            </div>
        </div>
        <div class="p-2 prose border border-black rounded-b-md max-w-none">
            {% cache 3600 'organization_html' organization.id MATH_ENGINE %}
                {{ organization.about|markdown('organization-about', MATH_ENGINE)|reference|str|safe }}
            {% endcache %}
        </div>
        {% if request.user.is_authenticated and request.profile in organization %}
        <div class="flex items-center p-2 mt-10 text-white bg-black rounded-t-md">
            <div class="flex-1 text-2xl font-bold">{{ organization.room }}</div>
            <div class="">
                <i class="comments icon"></i>
            </div>
        </div>
        <div class="border border-black divide-y divide-black rounded-b-md">
            <div class="p-2 overflow-x-auto max-h-[50rem]" id="description">
                <div class="ui comments max-w-none" id="messages">
                {% for message in msg|reverse %}
                    <div class="comment">
                        <a href="{{ url('user_page', message.user.user.user.username) }}" class="avatar">
                            <img loading="lazy" src="{{ gravatar(message.user.user) }}">
                        </a>
                        <div class="content">
                            {{ link_user(message.user.user) }}
                            <div class="metadata">
                                {{ message.publish_on|date(_("N j, Y, g:i a")) }}
                            </div>
                            <div class="text">
                                {% cache 3600 'message_html' message.id %}
                                {{ message.msg|markdown('comment') }}
                                {% endcache %}
                            </div>
                            <div class="action"></div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
            <form class="flex flex-col p-4 space-y-4" method="post" action="">
                <label class="block" for="message">
                    <span class="text-gray-700">Message</span> 
                    <textarea name="msg" class="block w-full p-2 mt-1 border-gray-300 rounded-md shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" id="message" rows="2"></textarea>
                </label>
                <a class="p-4 font-bold text-white bg-indigo-500 rounded-md cursor-pointer hover:bg-indigo-600" onclick="send_message()">Send</a>
            </form>
        </div>
        {% endif %}
    </div>
</div>
{% if request.user.is_authenticated and request.profile in organization %}
<script>
    const messages = document.getElementById('description');
    messages.scrollTop = messages.scrollHeight;
</script>
{% endif %}
{% endblock body %}

{% block info_float %}

{% endblock %}

{% block description %}

{% endblock %}
