{% extends "user/users-table.html" %}

{% block before_point_head %}
    {% if is_admin %}
        <th class="header" style="background-color: black;"></th>
    {% endif %}
{% endblock %}

{% block before_point %}
    {% if is_admin %}
        <td>
            {% if user.user.id != request.user.id %}
            <form action="{{ kick_url }}" method="POST" class="ui form kick-form">
                {% csrf_token %}
                <input type="hidden" name="user" value="{{ user.id }}">
                <a href="javascript:void(0)" class="ui primary button">{{ _('Kick') }}</a>
            </form>
            {% endif %}
        </td>
    {% endif %}
{% endblock %}
