.idea
.vscode
.sass-cache
*.sqlite3
*.py[co]
*.mo
*~
*.swp
node_modules
static
dmoj/local_settings.py
resources/style.css
resources/content-description.css
resources/ranks.css
resources/table.css
resources/martor-description.css
sass_processed
venv
<desired*
martor/*
submission_file
statics
node_modules
resources/mathjax