{% extends "base.html" %}

{% block title_row %}
{% endblock title_row %}

{% block title_ruler %}
{% endblock title_ruler %}

{% block body %}
    <div class="flex justify-center w-full">
        <div class="p-10 mt-10 border rounded-md">
            <form action="" method="post" class="flex flex-col gap-4">
                {% csrf_token %}
                <div class="space-y-4">
                <div class="space-y-4">
                {% if form.errors %}
                <div id="form-errors">
                    <p class="error">{{ _('Invalid username or password.') }}</p>
                </div>
                {% endif %}
                <label class="block" for="{{ form.username.id_for_label }}">
                    <span class="font-semibold text-gray-700">
                        {{ _('Username') }}
                    </span>
                    <div class="relative">
                        <input type="text" name="username" class="!pl-8 w-full peer" id="{{ form.username.id_for_label }}" autofocus required placeholder='{{ _("Username") }}'>
                        <span class="absolute top-0 flex flex-col items-center justify-center h-full text-gray-500 peer-focus:text-black left-2">
                            <i class="fa-solid fa-user"></i>
                        </span>
                    </div>
                </label>
                <label class="block" for="{{ form.password.id_for_label }}">
                    <span class="font-semibold text-gray-700">
                        {{ _('Password') }}
                    </span>
                    <div class="relative">
                        <input type="password" name="password" class="!pl-8 w-full peer" id="{{ form.password.id_for_label }}" autofocus required placeholder='{{ _("Password") }}'>
                        <span class="absolute top-0 flex flex-col items-center justify-center h-full text-gray-500 peer-focus:text-black left-2">
                            <i class="fa-solid fa-lock"></i>
                        </span>
                    </div>
                </label>
                <button type="submit" class="w-full p-2 font-bold text-white bg-blue-500 rounded-md hover:bg-blue-600">{{ _('Login!') }}</button>
                <input type="hidden" name="next" value="{{ next }}">
              </form>
              
              {% if form.has_google_auth or form.has_facebook_auth or form.has_github_auth %}
                <h4>{{ _('Or log in with...') }}</h4>
                <div>
                    {% if form.has_google_auth %}
                        <a href="{{ url('social:begin', "google-oauth2") }}?next={{ next }}" class="social google-icon">
                            <i class="fa fa-google-plus-square"></i>
                        </a>
                    {% endif %}
                    {% if form.has_facebook_auth %}
                        <a href="{{ url('social:begin', "facebook") }}?next={{ next }}" class="social facebook-icon">
                            <i class="fa fa-facebook-square"></i>
                        </a>
                    {% endif %}
                    {% if form.has_github_auth %}
                        <a href="{{ url('social:begin', "github-secure") }}?next={{ next }}" class="social github-icon">
                            <i class="fa fa-github-square"></i>
                        </a>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
