{% extends "base.html" %}

{% block body %}
    <div class="max-w-4xl mx-auto">
        <form id="edit-form" action="" method="post" class="p-4 form-area" >
            {% if request.session.password_pwned %}
            <h4>{{ _('We found your password in <a href="https://haveibeenpwned.com/Passwords">a database of compromised passwords</a>. 
                    To protect your account, we are requiring you to change your password to a more secure password.') }}</h4>
            {% endif %}
            {% csrf_token %}
            <label for="{{ form.old_password.id_for_label }}" class="block">
                <span class="font-bold text-gray-700">{{ _('Old password') }}</span>
                <input type="password" name="old_password" autofocus=true autocomplete="off" id="{{ form.old_password.id_for_label }}" placeholder="{{ _('Old password') }}" required class="block w-full p-2 mt-1 border-gray-300 rounded-md shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
                {% if form.old_password.errors %}
                    <div class="block text-red-500">{{ form.old_password.errors }}</div>
                {% endif %}
            </label>
            <div class="p-2 my-2 border rounded-md">
                <label for="{{ form.new_password1.id_for_label }}" class="block">
                    <div class="my-2">
                        {{ form.new_password1.help_text|safe }}
                    </div>
                    <span class="font-bold text-gray-700">{{ _('New password') }}</span>
                    <input type="password" name="new_password1" autocomplete="off" id="{{ form.new_password1.id_for_label }}" placeholder="{{ _('New password') }}" required class="block w-full p-2 mt-1 border-gray-300 rounded-md shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
                    {% if form.new_password1.errors %}
                        <div class="block text-red-500">{{ form.new_password1.errors }}</div>
                    {% endif %}
                </label>
                <label for="{{ form.new_password2.id_for_label }}" class="block">
                    <span class="font-bold text-gray-700">{{ _('New password confirmation') }} <small class="text-[0.6rem]">{{ _('(again, for confirmation)') }}</small></span>
                    <input type="password" name="new_password2" autocomplete="off" id="{{ form.new_password2.id_for_label }}" placeholder="{{ _('New password confirmation') }}" required class="block w-full p-2 mt-1 border-gray-300 rounded-md shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
                </label>
            </div>

            <button class="w-full p-2 mt-4 text-white bg-blue-500 rounded-md hover:bg-blue-600" type="submit">{{ _('Change Password') }}</button>
        </form>
    </div>
{% endblock %}
