{% set can_view, can_edit = submission_layout(submission, profile_id, request.user, completed_problem_ids, editable_problem_ids, tester_problem_ids) %}
<div class="left floated two wide computer three wide tablet four wide mobile column">
    <div class="ui middle aligned two column centered grid">
        <div class="row">
            <div class="nine wide computer eight wide tablet eight wide mobile column aligned center {{ submission.result_class }}" style="padding: 1.4em 0; border-radius: 15px">
                <h5 class="ui header">
                {%- if submission.is_graded -%}
                    {%- if submission.status in ('IE', 'CE', 'AB') -%}
                        -- / --
                    {%- else -%}
                        {{ submission.case_points|floatformat(0) }} / {{ submission.case_total|floatformat(0) }}
                    {%- endif -%}
                    {%- else -%}
                    <div class="ui active inline fast loader"></div>
                    {%- endif -%}
                    <div class="sub header" style="font-size: 0.7em">
                        <span title="{{ submission.long_status }}" class="status {{ submission.result_class }}">{{ submission.short_status }}</span> |
                        <span class="language {{ submission.result_class }}">{{ submission.language.short_display_name }}</span>
                    </div>
                </h5>
            </div>
        </div>
    </div>
</div>
<div class="twelve wide computer ten wide tablet eight wide mobile column">
    <div class="ui middle aligned padded grid">
        <div class="six wide computer seven wide tablet sixteen wide mobile column">
            {% if show_problem %}
            <div class="ui header">
                <a href="{{ url('problem_detail', submission.problem.code) }}">{{ problem_name }}</a>
                <div class="sub header">
                    {{ link_user(submission.user) }}
                    <span class="time">{{ relative_time(submission.date) }}</span>
                    {% if not request.in_contest and submission.contest_object_id %}
                        <a href="{{ url('contest_view', submission.contest_object.key) }}"
                            class="submission-contest">
                            <i title="{{ submission.contest_object.name }}" class="fa fa-dot-circle-o"></i>
                        </a>
                    {% endif %}
                </div>
            </div>
            {% else %}
            <div class="ui header">
                {{ link_user(submission.user) }}
                <div class="sub header">
                    <span class="time">{{ relative_time(submission.date) }}</span>
                    {% if not request.in_contest and submission.contest_object_id %}
                        <a href="{{ url('contest_view', submission.contest_object.key) }}"
                            class="submission-contest">
                            <i title="{{ submission.contest_object.name }}" class="fa fa-dot-circle-o"></i>
                        </a>
                    {% endif %}
                </div>
            </div>
            {% endif %}
        </div>
        {% if submission.status == 'G' %}
        <div class="three wide computer two wide tablet sixteen wide mobile column">
            {%- if submission.current_testcase > 0 -%}
                {{ _('Case #%(case)s', case=submission.current_testcase) }}
            {%- else -%}
                ...
            {%- endif -%}
        </div>
        {% endif %}
        {% if can_view %}
            <div class="right floated six wide computer five wide tablet sixteen wide mobile column">
                <div class="ui secondary tiny compact menu" id="manage">
                    <a class="item" href="{{ url('submission_status', submission.id) }}">
                        <i class="eye icon"></i>
                        <div class="content">{{ _('view') }}</div>
                    </a>
                    {% if perms.judge.rejudge_submission and can_edit %} 
                        {% if not submission.is_locked %}
                        <a class="item" href="javascript:void(0)" onclick="rejudge_submission({{ submission.id }}, event);return false">
                            <i class="refresh icon"></i>
                            <div class="content">{{ _('rejudge') }}</div>
                        </a>
                        {% else %}
                        <div class="item">
                            <i class="refresh grey icon"></i>
                            <div class="content">{{ _('locked') }}</div>
                        </div>
                        {% endif %}
                    {% endif %}
                    {% if can_edit %}
                        <a class="item" href="{{ url('admin:judge_submission_change', submission.id) }}">
                            <i class="cog icon"></i>
                            <div class="content">{{ _('admin') }}</div>
                        </a>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>
</div>
<div class="right floated two wide computer three wide tablet column">
    <div class="ui middle aligned grid">
        <div class="column">
            <div class="ui center aligned segment">
                {% if submission.status in ('QU', 'P', 'G', 'CE', 'IE', 'AB') %}
                    <div class="ui tiny header" style="margin: auto 0;">
                        ---
                        <div class="sub header">---</div>
                    </div>
                {% else %}
                    {% if "TLE" != submission.result %}
                        <div title="{{ submission.time or 0 }}s" class="ui tiny header" style="margin: auto 0;">
                            {{ (submission.time or 0)|floatformat(2) }}s
                    {% else %}
                        <div class="ui tiny header"  style="margin: auto 0;">
                            ---
                    {% endif %}
                    {# No one actually like IEC prefixes, Jinja2. #}
                    <div class="sub header">{{ (submission.memory_bytes|filesizeformat(True)).replace('i', '') }}</div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
