{% extends 'common-content.html' %} {% block description %}
<form actions="" method="post">
  {% csrf_token %} {% for eproblem in data %}
  <div>
    {% cache 3600 'exam_html' eproblem.problem.id MATH_ENGINE %}
      {{ eproblem.problem.problem.description|markdown('exam', MATH_ENGINE)|reference|str|safe }}
    {% endcache %}  
  </div>
  <div>
    <fieldset>
    <legend><h3>Answer</h3></legend>
    {{ eproblem.form }}
    </fieldset>
  </div>
  <hr style="border: 1px solid red;" />
  {% endfor %}
  <input type="submit" id="submit" value="Submit" />
</form>
{% endblock %}
