{% extends 'common-content.html' %} 

{% block content_media %}
  <style>
    .answer {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-gap: 5px 5px;
    }
    .submit {
      margin-top: 30px;
    }
    .answer-item {
      font-size: 16px;
    }
  </style>
{% endblock %}

{% block description %}
<div class="ui container">
  <form actions="" method="post" class="ui form">
    {% csrf_token %}
    <input type="hidden" id="exam_id" name="exam" value="{{ exam.id }}">
    {% for eproblem in data %}
    <div class="ui segments">
      <div class="ui top attached secondary black inverted menu">
        <div class="ui header item">Problem {{ loop.index }}</div>
      </div>
      <div class="ui bottom attached segment">
        <div style="font-size: 16px">
          {% cache 600 'exam_html' eproblem.problem.id MATH_ENGINE %} 
            {% with problem=eproblem.problem.problem %}
              {{ problem.description|markdown(problem.markdown_style, MATH_ENGINE)|reference|str|safe }}
            {% endwith %}
          {% endcache %}
        </div>
      </div>
      <div class="ui segment">
        <h3 class="ui header">Answer</h3>
        <div class="ui grid">
          {% for radio in eproblem.form.ans %}
          <div class="sixteen wide tablet eight wide computer column">
            <div class="ui radio checkbox">
              {{ radio.tag() }}
              <label for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endfor %}
    {% if has_joined %}
    <input type="submit" class='ui primary fluid button' id="submit" value="Submit" />
    {% endif %}
  </form>
</div>
<script>
  $('.ui.radio.checkbox').checkbox();
</script>
{% endblock %}

{% block info_float %}
  {% if request.user.is_authenticated and has_submissions %}
  <div>
    <a href="{{ url('emath:user_submissions', exam.key, request.user.username) }}">{{ _('My submissions') }}</a>
  </div>
  {% endif %}
  <div><a href="{{ url('emath:chronological_submissions', exam.key) }}">{{ _('All submissions') }}</a></div>
  <div><a href="#{# url('ranked_submissions', problem.code) #}">{{ _('Best submissions') }}</a></div>
{% endblock %}