{% extends "common-content.html" %}

{% block title_ruler %}{% endblock %}

{% block title_row %}
    {% set tab = 'detail' %}
    {% set title = exam.name %}
    {% include "tmatheng/exam-tabs.html" %}
{% endblock %}

{% block content_js_media %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.time-remaining').each(function () {
                count_down($(this));
            });
        });
    </script>
    {% include "tmatheng/media-js.html" %}
    {% include "comments/media-js.html" %}
{% endblock %}

{% block content_media %}
    <style>
        .exam-join-pseudotab {
            display: inline;
            padding: 6px 8px!important;
            line-height: 1.7em;
            margin-left: .5em;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
        .exam-join-pseudotab input {
            display: inline;
            border: none;
            padding: 0;
            background: 0 0;
            font-weight: 600;
        }
    </style>
    {% include "comments/media-css.html" %}
{% endblock %}

{% macro exam_join(exam, request) %}
    {% if not request.in_exam %}
        <td>
            {% if request.profile in exam.authors.all() or request.profile in exam.curators.all() or request.profile in exam.testers.all() %}
                <form action="{{ url('emath:exam_detail', exam.key) }}" method="post">
                    {% csrf_token %}
                    <input type="submit" class="ui primary buttonui primary"
                           value="{{ _('Spectate') }}">
                </form>
            {% else %}
                <form action="{{ url('emath:exam_detail', exam.key) }}" method="post">
                    {% csrf_token %}
                    <input type="submit" class="ui primary button join-warning"
                           value="{{ _('Join') }}">
                </form>
            {% endif %}
        </td>
    {% endif %}
{% endmacro %}

{% block body %}
    <div id="banner">
        <a href="https://www.timeanddate.com/worldclock/fixedtime.html?msg={{ exam.name|urlquote('') }}&amp;iso=
                {{- exam.start_time|utc|date('Y-m-d\TH:i:s') }}" class="date">
            {%- if exam.is_in_exam(request.user) and not request.examparticipation.live -%}
                {% if request.examparticipation.spectate %}
                    {{- _('Spectating, exam ends in %(countdown)s.', countdown=exam.time_before_end|as_countdown) -}}
                {% elif request.examparticipation.end_time %}
                    {{- _('Participating virtually, %(countdown)s remaining.', countdown=request.examparticipation.time_remaining|as_countdown) -}}
                {% else %}
                    {{- _('Participating virtually.') -}}
                {% endif %}
            {%- else -%}
                {% if exam.start_time > now %}
                    {{- _('Starting in %(countdown)s', countdown=exam.time_before_start|as_countdown) -}}
                {% elif exam.end_time < now %}
                    {{- _('Exam is over.') -}}
                {% else %}
                    {%- if has_joined -%}
                        {% if live_participation.ended %}
                            {{- _('Your time is up! Exam ends in %(countdown)s.', countdown=exam.time_before_end|as_countdown) -}}
                        {% else %}
                            {{- _('You have %(countdown)s remaining.', countdown=live_participation.time_remaining|as_countdown) -}}
                        {% endif %}
                    {%- else -%}
                        {{ _('Exam ends in %(countdown)s.', countdown=exam.time_before_end|as_countdown) }}
                    {%- endif -%}
                {% endif %}
            {%- endif -%}
        </a>
        <div id="time">
            {% if exam.time_limit %}
                {% trans trimmed start_time=exam.start_time|date(_("F j, Y, G:i T")), end_time=exam.end_time|date(_("F j, Y, G:i T")), time_limit=exam.time_limit|timedelta('localized-no-seconds') %}
                    <b>{{ time_limit }}</b> window between <b>{{ start_time }}</b> and <b>{{ end_time }}</b>
                {% endtrans %}
            {% else %}
                {% trans trimmed length=exam.exam_window_length|timedelta("localized-no-seconds"), start_time=exam.start_time|date(_("F j, Y, G:i T")) %}
                    <b>{{ length }}</b> long starting on <b>{{ start_time }}</b>
                {% endtrans %}
            {% endif %}
        </div>
    </div>

    <div class="content-description">
        {% cache 3600 'exam_html' exam.id MATH_ENGINE %}
            {{ exam.description|markdown('exam', MATH_ENGINE)|reference|str|safe }}
        {% endcache %}
    </div>


    <hr>

    {% if exam.is_in_exam(request.user) %}
        <a class='ui primary fluid button take_a_test' href="{{ url('emath:exam_task', exam.key) }}">{{ _('Take a test') }}</a>
    {% endif %}

    {% include "comments/list.html" %}
{% endblock %}

{% block description_end %}{% endblock %}

{% block bodyend %}
    {{ super() }}
    {% include "comments/math.html" %}
{% endblock %}
