{% extends "common-content.html" %}
{% block meta %}
    <meta name="description" content="The {{ SITE_NAME }}'s contest list - past, present, and future.">
{% endblock %}

{% block media %}
    <style>
        .time-left {
            text-align: left;
            color: #777;
            padding-top: 0.5em;
        }

        .content-description ul {
            padding: 0 !important;
        }
        .select2{
            width: 100%;
            padding: 0px 10px !important;
            box-sizing: border-box !important;
        }
        form label {
            margin: auto 0;
        }
    </style>
{% endblock %}

{% block js_media %}
    <script src="{{ static('libs/featherlight/featherlight.min.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.time-remaining').each(function () {
                count_down($(this));
            });

            $('#organizations').select2();
            $('.contest-tag').find('a[data-featherlight]').featherlight();

            $('.join-warning').click(function () {
                return confirm('{{ _("Are you sure you want to join?") }}\n' +
                    '{{ _("Joining a contest for the first time starts your timer, after which it becomes unstoppable.") }}');
            });

            // var tooltip_classes = 'tooltipped tooltipped-e';
            //
            // $('.contest-tag').each(function () {
            //     var link = $(this);//
            //     link.mouseenter(function (e) {
            //         link.addClass(tooltip_classes).attr('aria-label', link.attr('data-description'));
            //     }).mouseleave(function (e) {
            //         link.removeClass(tooltip_classes).removeAttr('aria-label');
            //     });
            // });
        });

    </script>
{% endblock %}

{% block title_ruler %}{% endblock %}

{% block title_row %}
    {% set tab = 'list' %}
    {% set title = 'Contests' %}
    {% include "contest/contest-list-tabs.html" %}
{% endblock %}

{% macro contest_head(contest) %}
    {% spaceless %}
        <a href="{{ url('contest_view', contest.key) }}" class="text-xl font-semibold">
            {{- contest.name -}}
        </a>
        <span class="ml-4">
            {% if not contest.is_visible %}
                <span class="p-1 text-white bg-black rounded-md mr-0.5">
                    <i class="fa fa-eye-slash"></i> {{ _('hidden') }}
                </span>
            {% endif %}
            {% if contest.is_organization_private %}
                {% for org in contest.organizations.all() %}
                    <span class="p-1 mr-1 rounded-md bg-slate-400">
                        <a class="relative pl-6" href="{{ org.get_absolute_url() }}">
                            <span class="absolute top-0.5 flex flex-col items-center w-4 h-4 left-1">
                                <i class="fa-duotone fa-lock"></i> 
                            </span>
                            {{ org.name }}
                        </a>
                    </span>
                {% endfor %}
            {% elif contest.is_private %}
            <div class="inline-flex items-baseline px-2 py-0.5 mr-1 space-x-1 text-black rounded-md bg-slate-500">
                <i class="fa-duotone fa-lock"></i> 
                <span class="font-semibold text-white text-md">
                    {{ _('private') }}
                </span>
            </div>
            {% endif %}
            {% if contest.is_rated %}
                <span class="p-1 font-semibold text-white bg-red-500 rounded-md">
                    <i class="fa-duotone fa-chart-column"></i> {{ _('rated') }}
                </span>
            {% endif %}
            {% for tag in contest.tags.all() %}
                <span style="background-color: {{ tag.color }}" class="">
                    <a href="{{ url('contest_tag', tag.name) }}"
                       style="color: {{ tag.text_color }}"
                       data-featherlight="{{ url('contest_tag_ajax', tag.name) }}">
                        {{- tag.name -}}
                    </a>
                </span>
            {% endfor %}
        </span>
    {% endspaceless %}
{% endmacro %}

{% macro time_left(contest) %}
    <div class="time time-left">
        {% if contest.time_limit %}
            {{ contest.start_time|date(_("M j, Y, G:i")) }} -
            {{ contest.end_time|date(_("M j, Y, G:i")) }}
        {% else %}
            {{ contest.start_time|date(_("M j, Y, G:i")) }}
        {% endif %}
        <br>
        {% if contest.time_limit %}
            {{ _('%(time_limit)s window', time_limit=contest.time_limit|timedelta('localized-no-seconds')) }}
        {% else %}
            {{ _('%(duration)s long', duration=contest.contest_window_length|timedelta('localized-no-seconds')) }}
        {% endif %}
    </div>
{% endmacro %}

{% macro user_count(contest, user) %}
    {% if contest.can_see_own_scoreboard(user) %}
        <a href="{{ url('contest_ranking', contest.key) }}" class="font-semibold text-blue-500">{{ contest.user_count }}</a>
    {% else %}
        {{ contest.user_count }}
    {% endif %}
{% endmacro %}

{% macro contest_join(contest, request) %}
    {% if not request.in_contest %}
        <td class="text-center">
            {% if request.profile in contest.authors.all() or request.profile in contest.curators.all() or request.profile in contest.testers.all() %}
                <form action="{{ url('contest_join', contest.key) }}" method="post">
                    {% csrf_token %}
                    <input type="submit" class="px-4 py-2 font-bold text-white bg-blue-500 rounded-md cursor-pointer hover:bg-blue-600"
                           value="{{ _('Spectate') }}">
                </form>
            {% else %}
                <form action="{{ url('contest_join', contest.key) }}" method="post">
                    {% csrf_token %}
                    <input type="submit" class="px-4 py-2 font-bold text-white bg-blue-500 rounded-md cursor-pointer hover:bg-blue-600 join-warning"
                           value="{{ _('Join') }}">
                </form>
            {% endif %}
        </td>
    {% endif %}
{% endmacro %}

{% block body %}
    <div class="flex flex-col">
        <form action="" method="get" class="flex items-end space-x-4">
            <label for="organizations" class="flex-1 block text-xl">
                <span class="font-semibold text-gray-700 whitespace-nowrap">{{ _('Organizations') }}</span>
                <select class="block w-full px-4 py-1.5 mt-1 border border-gray-500 rounded-md shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-400 focus:ring-opacity-50" name='organizations' placehover="{{ _('Select organization') }}">
                    <option value="">--------</option>
                    {% for org in list_organizations %}
                    <option class="item" value="{{ org.id }}" {% if organizations and org.id == organizations %}selected{% endif %}>
                        {{ org.name }}
                    </option>
                    {% endfor %}
                </select>
            </label>
            <div class="flex flex-col items-center justify-end w-1/6">
                <button class="w-full p-2.5 text-white font-bold bg-blue-500 rounded-md" type="submit">{{_('Search')}}</button>
            </div>
        </form>
        {% if active_participations %}
        <div class="mb-4 text-xl">{{ _('Active Contests') }}</div>
        <table class="w-full mt-4 border border-black">
            <thead class="text-white whitespace-normal bg-black">
            <tr class="[&>*]:p-2 divide-x">
                <th class="w-5/6">{{ _('Contest') }}</th>
                <th>{{ _('Users') }}</th>
                {% if not request.in_contest %}
                    <th style="width:15%"></th>
                {% endif %}
            </tr>
            </thead>
            <tbody class="divide-y">
            {% for participation in active_participations %}
                {% with contest=participation.contest %}
                    <tr class="divide-x">
                        <td class="p-4">
                            <div class="contest-block">
                                {{ contest_head(contest) }}
                                {% if contest.start_time %}
                                    <br>
                                    {% if contest.time_before_start %}
                                        <span class="time">{{ _('Starts in %(countdown)s', countdown=contest.time_before_start|as_countdown) }}</span>
                                    {% elif contest.time_limit %}
                                        <span class="time">{{ _('Window ends in %(countdown)s', countdown=participation.time_remaining|as_countdown) }}</span>
                                    {% elif contest.time_before_end %}
                                        <span class="time">{{ _('Ends in %(countdown)s', countdown=contest.time_before_end|as_countdown) }}</span>
                                    {% endif %}
                                    {{ time_left(contest) }}
                                {% endif %}
                            </div>
                        </td>
                        <td class="text-center">
                            {{ user_count(contest, request.user) }}
                        </td>
                        {{ contest_join(contest, request) }}
                    </tr>
                {% endwith %}
            {% endfor %}
            </tbody>
        </table>
        <br>
        {% endif %}

        {% if current_contests %}
            <div class="flex items-stretch mt-8 mb-4 text-2xl font-bold text-gray-700 uppercase">
                <span class="pr-5"> {{ _('Ongoing Contests') }} </span>
                <div class="flex-1">
                    <span class="inline-block w-full h-2 my-3 bg-gray-200 rounded-full"></span>
                </div>
            </div>
            <table class="mt-4 border border-black">
                <thead class="text-white bg-black whitespace-nowrap">
                <tr class="[&>*]:p-2 divide-x">
                    <th class="w-5/6">{{ _('Contest') }}</th>
                    <th>{{ _('Users') }}</th>
                    {% if not request.in_contest %}
                        <th style="width:15%"></th>
                    {% endif %}
                </tr>
                </thead>
                <tbody class="divide-y">
                {% for contest in current_contests %}
                    <tr class="divide-x">
                        <td class="p-4">
                            <div class="contest-block">
                                {{ contest_head(contest) }}
                                {% if contest.start_time %}
                                    <br>
                                    {% if contest.time_before_end %}
                                        <span class="time">{{ _('Ends in %(countdown)s', countdown=contest.time_before_end|as_countdown) }}</span>
                                    {% endif %}
                                    {{ time_left(contest) }}
                                {% endif %}
                            </div>
                        </td>
                        <td class="text-center">
                            {{ user_count(contest, request.user) }}
                        </td>
                        {{ contest_join(contest, request) }}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <br>
        {% endif %}

        <div class="flex items-center mt-8 mb-4 text-2xl font-bold text-gray-700 uppercase">
            <span class="pr-5"> {{ _('Upcoming Contests') }} </span>
            <div class="flex flex-col flex-1">
                <span class="inline-block w-full h-2 bg-gray-200 rounded-full "></span>
            </div>
        </div>
        {% if future_contests %}
            <table class="border border-black">
                <thead class="text-white bg-black">
                <tr class="[&>*]:p-2">
                    <th class="w-full" >{{ _('Contest') }}</th>
                </tr>
                </thead>
                <tbody class="divide-y">
                {% for contest in future_contests %}
                    <tr>
                        <td class="p-4">
                            <div class="contest-block">
                                {{ contest_head(contest) }}
                                {% if contest.start_time %}
                                    <br>
                                    {% if contest.time_before_start %}
                                        <span class="time">{{ _('Starting in %(countdown)s.', countdown=contest.time_before_start|as_countdown) }}</span>
                                    {% endif %}
                                    {{ time_left(contest) }}
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <i>{{ _('There are no scheduled contests at this time.') }}</i>
            <br>
        {% endif %}
        <br>

        {% if past_contests %}
            <div id="past-contests" class="flex items-stretch mt-8 mb-4 text-2xl font-bold text-gray-700 uppercase">
                <span class="pr-5"> {{ _('Past Contests') }} </span>
                <div class="flex-1">
                    <span class="inline-block w-full h-2 my-3 bg-gray-200 rounded-full"></span>
                </div>
            </div>
            {% if page_obj and page_obj.has_other_pages() %}
                <div class="top-pagination-bar">{% include "list-pages.html" %}</div>
            {% endif %}
            <table class="w-full border border-black">
                <thead class="text-white bg-black whitespace-nowrap">
                <tr class="[&>*]:p-2 divide-x">
                    <th class="w-5/6">
                        <a href="{{ sort_links.name }}" class="contest-sort-link">{{ _('Contest') }}{{ sort_order.name }}</a>
                    </th>
                    <th>
                        <a href="{{ sort_links.user_count }}" class="contest-sort-link">{{ _('Users') }}{{ sort_order.user_count }}</a>
                    </th>
                    {% if not request.in_contest %}
                        <th style="width:15%"></th>
                    {% endif %}
                </tr>
                </thead>
                <tbody class="divide-y">
                {% for contest in past_contests %}
                    <tr class="divide-x">
                        <td class="p-4">
                            <div class="contest-block">
                                {{ contest_head(contest) }}
                                {{ time_left(contest) }}
                            </div>
                        </td>
                        <td class="text-center">
                            {{ user_count(contest, request.user) }}
                        </td>
                        {% if not request.in_contest %}
                            <td  class="text-center"><form action="{{ url('contest_join', contest.key) }}" method="post" class="">
                                    {% csrf_token %}
                                    <input type="submit" class="p-2 font-semibold text-white bg-blue-500 rounded-md cursor-pointer hover:bg-blue-600"
                                           value="{{ _('Virtual join') }}">
                            </form></td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% if page_obj and page_obj.has_other_pages() %}
                <div class="bottom-pagination-bar">{% include "list-pages.html" %}</div>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
