body[class*="tmath"] .select2-container--default.select2-container {
  min-height: 2rem
}

body[class*="tmath"] .select2-container--default .select2-selection--single {
  @apply h-fit
}

body[class*="tmath"] .select2-container--default .select2-selection--single,
body[class*="tmath"] .select2-container--default .select2-selection--multiple {
  min-height: 2rem;
  @apply p-0
}

body[class*="tmath"] .select2-container--default.select2-container--focus .select2-selection,
body[class*="tmath"] .select2-container--default.select2-container--open .select2-selection {
  border: 1px solid #aaa;
  outline: 0;
  box-shadow: 0 0 6px #ccc !important;
  min-height: 2rem
}

body[class*="tmath"] .select2-container--default.select2-container--focus .select2-selection.select2-selection--single,
body[class*="tmath"] .select2-container--default.select2-container--open .select2-selection.select2-selection--single {
  padding: 0
}

body[class*="tmath"] .select2-container--default.select2-container--focus .select2-selection.select2-selection--multiple,
body[class*="tmath"] .select2-container--default.select2-container--open .select2-selection.select2-selection--multiple {
  padding: 0
}

body[class*="tmath"] .select2-container--default .select2-selection--single {
  font-weight: bold;
  color: #555;
  border: 1px solid #ccc;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #fdfdfd;
  cursor: text;
  -moz-box-shadow: inset 0 1px 3px 0 #eee;
  -webkit-box-shadow: inset 0 1px 3px 0 #eee;
  box-shadow: inset 0 1px 3px 0 #eee;
  overflow: hidden;
  vertical-align: middle;
  @apply text-base
}

body[class*="tmath"] .select2-container--default .select2-selection--single .select2-selection__rendered {
  padding: 2px 40px 2px 5px;
  font-weight: bold;
  color: #555
}

body[class*="tmath"] .select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__rendered {
  padding: 5px 5px 0 40px
}

body[class*="tmath"] .select2-container--default .select2-selection--single .select2-selection__clear {
  cursor: pointer;
  float: right;
  top: -4px;
  right: -20px;
  width: 20px;
  height: 24px;
  color: transparent;
  background-position: 0 -9591px
}

body[class*="tmath"] .select2-container--default .select2-selection--single .select2-selection__clear:hover {
  background-position: 0 -10008px
}

body[class*="tmath"] .select2-container--default .select2-selection--single .select2-selection__clear:hover:hover,
body[class*="tmath"] .select2-container--default .select2-selection--single .select2-selection__clear:hover.tools-related-remove-handler-hover {
  background-position: 0 -10425px
}

body[class*="tmath"] .select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__clear {
  left: -24px;
  right: auto
}

body[class*="tmath"] .select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #9a9a9a
}

body[class*="tmath"] .select2-container--default .select2-selection--single .select2-selection__arrow {
  position: absolute;
  top: 3px;
  right: 4px;
  width: 20px;
  height: 24px;
  background-position: 0 -1251px
}

body[class*="tmath"] .select2-container--default .select2-selection--single .select2-selection__arrow b {
  display: none
}

body[class*="tmath"] .select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__clear {
  float: left
}

body[class*="tmath"] .select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow {
  left: 1px;
  right: auto
}

body[class*="tmath"] .select2-container--default.select2-container--disabled .select2-selection--single {
  background-color: #eee;
  cursor: default
}

body[class*="tmath"] .select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear {
  display: none
}

body[class*="tmath"] .select2-container--default .select2-selection--multiple {
  font-weight: bold;
  color: #555;
  border: 1px solid #ccc;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #fdfdfd;
  cursor: text;
  -moz-box-shadow: inset 0 1px 3px 0 #eee;
  -webkit-box-shadow: inset 0 1px 3px 0 #eee;
  box-shadow: inset 0 1px 3px 0 #eee;
  overflow: hidden;
  vertical-align: middle
}

body[class*="tmath"] .select2-container--default .select2-selection--multiple .select2-selection__rendered {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0 2px 2px;
  width: 100%
}

body[class*="tmath"] .select2-container--default .select2-selection--multiple .select2-selection__rendered li {
  list-style: none
}

body[class*="tmath"] .select2-container--default .select2-selection--multiple .select2-selection__placeholder {
  color: #9a9a9a;
  margin-top: 5px;
  float: left
}

body[class*="tmath"] .select2-container--default .select2-selection--multiple .select2-selection__rendered {
  padding-right: 40px
}

body[class*="tmath"] .select2-container--default .select2-selection--multiple .select2-selection__rendered:after {
  content: " ";
  position: absolute;
  top: 3px;
  right: 4px;
  display: block;
  width: 20px;
  height: 24px;
  background-position: 0 -834px
}

body[class*="tmath"] .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__rendered {
  padding-left: 40px;
  padding-right: 0
}

body[class*="tmath"] .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__rendered:after {
  left: 2px;
  right: auto
}

body[class*="tmath"] .select2-container--default .select2-selection--multiple .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
  margin: 2px 21px 5px 5px;
  width: 20px;
  height: 24px;
  color: transparent;
  background-position: 0 -9591px
}

body[class*="tmath"] .select2-container--default .select2-selection--multiple .select2-selection__clear:hover {
  background-position: 0 -10008px
}

body[class*="tmath"] .select2-container--default .select2-selection--multiple .select2-selection__clear:hover:hover,
body[class*="tmath"] .select2-container--default .select2-selection--multiple .select2-selection__clear:hover.tools-related-remove-handler-hover {
  background-position: 0 -10425px
}

body[class*="tmath"] .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__clear {
  position: absolute;
  left: 0;
  margin: 2px auto 5px 17px
}

body[class*="tmath"] .select2-container--default .select2-selection--multiple .select2-selection__choice {
  cursor: default;
  float: left;
  margin: 2px 2px 0 0;
  padding: 2px 5px 0;
  min-height: 15px;
  font-weight: bold;
  color: #555;
  background-color: #e1f0f5;
  border: 1px solid #ccc;
  border-radius: 3px
}

body[class*="tmath"] .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  position: relative;
  cursor: pointer;
  display: inline-block;
  width: 18px;
  height: 15px;
  font-weight: bold;
  /* color: transparent; */
  background-position: 0 -9591px;
  @apply top-1/2 text-base
}

body[class*="tmath"] .select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
  color: transparent;
  background-position: 0 -10008px
}

body[class*="tmath"] .select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover:hover,
body[class*="tmath"] .select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover.tools-related-remove-handler-hover {
  background-position: 0 -10425px
}

body[class*="tmath"] .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice,
body[class*="tmath"] .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__placeholder,
body[class*="tmath"] .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-search--inline {
  float: right
}

body[class*="tmath"] .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
  right: -4px;
  margin-left: -7px;
  left: auto;
  margin-right: auto
}

body[class*="tmath"] .select2-container--default.select2-container--focus .select2-selection--multiple {
  border: solid #9a9a9a 1px;
  outline: 0
}

body[class*="tmath"] .select2-container--default.select2-container--disabled .select2-selection--multiple {
  background-color: #eee;
  cursor: default
}

body[class*="tmath"] .select2-container--default.select2-container--disabled .select2-selection__choice__remove {
  display: none
}

body[class*="tmath"] .select2-container--default.select2-container--open.select2-container--above .select2-selection--single,
body[class*="tmath"] .select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
  border-top-left-radius: 0;
  border-top-right-radius: 0
}

body[class*="tmath"] .select2-container--default.select2-container--open.select2-container--below .select2-selection--single,
body[class*="tmath"] .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0
}

body[class*="tmath"] .select2-container--open .select2-dropdown {
  overflow: hidden;
  border-radius: 3px;
  border: 1px solid #aaa;
  background-color: #fff;
  background-color: #eee
}

body[class*="tmath"] .select2-container--open .select2-dropdown.select2-dropdown--above {
  border-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: 0 0px 50px rgba(51, 51, 51, 0.3)
}

body[class*="tmath"] .select2-container--open .select2-dropdown.select2-dropdown--below {
  border-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: 0 20px 50px rgba(51, 51, 51, 0.3)
}

body[class*="tmath"] .select2-container--default .select2-search--dropdown {
  padding: 8px 4px 4px;
  background-color: #eee
}

body[class*="tmath"] .select2-container--default .select2-search--dropdown .select2-search__field {
  margin: 0;
  padding: 2px 5px;
  height: 2rem;
  font-weight: bold;
  color: #555;
  border: 1px solid #ccc;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #fdfdfd;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-shadow: inset 0 1px 3px 0 #eee;
  -webkit-box-shadow: inset 0 1px 3px 0 #eee;
  box-shadow: inset 0 1px 3px 0 #eee;
  overflow: hidden;
  vertical-align: middle
}

body[class*="tmath"] .select2-container--default .select2-search--dropdown .select2-search__field:focus,
body[class*="tmath"] .select2-container--default .select2-search--dropdown .select2-search__field.tmath-state-focus {
  border: 1px solid #aaa;
  -moz-box-shadow: #ccc 0 0 6px;
  -webkit-box-shadow: #ccc 0 0 6px;
  box-shadow: #ccc 0 0 6px;
  background: #fff;
  outline: 0
}

body[class*="tmath"] .select2-container--default .select2-search--dropdown .select2-search__field:focus {
  -moz-box-shadow: inset 0 1px 3px 0 #eee;
  -webkit-box-shadow: inset 0 1px 3px 0 #eee;
  box-shadow: inset 0 1px 3px 0 #eee
}

body[class*="tmath"] .select2-container--default .select2-search--inline .select2-search__field {
  position: relative;
  top: -1px;
  padding: 0 5px;
  font-weight: bold;
  background: transparent;
  border: none;
  outline: 0;
  box-shadow: none;
  -webkit-appearance: textfield
}

body[class*="tmath"] .select2-container--default .select2-search--inline .select2-search__field:focus {
  background: transparent;
  border: none;
  outline: 0;
  box-shadow: none;
  -webkit-appearance: textfield
}

body[class*="tmath"] .select2-container--default .select2-results {
  padding: 4px;
  background-color: #fff;
  background-color: #eee
}

body[class*="tmath"] .select2-container--default .select2-results>.select2-results__options {
  max-height: 200px;
  overflow-y: auto;
  background-color: #fff;
  background-color: #eee
}

body[class*="tmath"] .select2-container--default .select2-results .select2-results__option {
  padding: 4px 5px;
  font-weight: bold;
  color: #555;
  border-radius: 3px;
  border: 1px solid #ccc;
  background-color: #e1f0f5;
  transition: color 0.125s ease-in-out, border 0.125s ease-in-out, background 0.125s ease-in-out
}

body[class*="tmath"] .select2-container--default .select2-results .select2-results__option+.select2-results__option {
  margin-top: 2px
}

body[class*="tmath"] .select2-container--default .select2-results .select2-results__option.loading-results {
  border-color: transparent;
  background: transparent
}

body[class*="tmath"] .select2-container--default .select2-results .select2-results__option.select2-results__message {
  border-color: transparent;
  background: transparent
}

body[class*="tmath"] .select2-results .select2-results__options .select2-results__option.loading-results {
  margin-top: -4px
}

body[class*="tmath"] .select2-results .select2-results__options .select2-results__option.select2-results__message {
  margin-top: -4px
}

body[class*="tmath"] .select2-results .select2-results__options[aria-multiselectable=true] .select2-results__option.loading-results {
  margin-top: 0
}

body[class*="tmath"] .select2-results .select2-results__options[aria-multiselectable=true] .select2-results__option.select2-results__message {
  margin-top: 0
}

body[class*="tmath"] .select2-container--default .select2-results__option[role=group] {
  padding: 0
}

body[class*="tmath"] .select2-container--default .select2-results__option[aria-disabled=true] {
  color: #9a9a9a;
  border-color: #ccc;
  background-color: #eee
}

body[class*="tmath"] .select2-container--default .select2-results__option[aria-selected=true] {
  color: #fff;
  border-color: #1a1a1a;
  background-color: #333
}

body[class*="tmath"] .select2-container--default .select2-results__option .select2-results__option {
  padding-left: 1em
}

body[class*="tmath"] .select2-container--default .select2-results__option .select2-results__option .select2-results__group {
  padding-left: 0
}

body[class*="tmath"] .select2-container--default .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -1em;
  padding-left: 2em
}

body[class*="tmath"] .select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -2em;
  padding-left: 3em
}

body[class*="tmath"] .select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -3em;
  padding-left: 4em
}

body[class*="tmath"] .select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -4em;
  padding-left: 5em
}

body[class*="tmath"] .select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -5em;
  padding-left: 6em
}

body[class*="tmath"] .select2-container--default .select2-results__option--highlighted[aria-selected] {
  color: #fff;
  border-color: #267a96;
  background-color: #309bbf
}

body[class*="tmath"] .select2-container--default .select2-results__group {
  cursor: default;
  display: block;
  padding: 4px
}