{% extends 'base.html' %}

{% block body %}

<table class="w-1/2 mx-auto table-fixed">
  <thead>
    <tr class="[&>*]:text-center">
      <th>Username</th>
      <th>Speed</th>
      <th>Progress</th>
      <th>Time</th>
    </tr>
  </thead>
  <tbody class="divide-y">
    {% for user in ranks %}
    <tr class="divide-x">
      <td>
        {{ link_user(user.user) }}
      </td>
      <td>
        {{ user.speed }}
      </td>
      <td>
        {{ user.progress }}%
      </td>
      <td>
        {{ user.time }}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock body %}