{% extends "common-content.html" %}

{% block media %}
    {{ form.media.css }}
    <link rel="stylesheet" type="text/css" href="{{ static('admin/css/forms.css') }}">
    <style>
	.help {
		color: #999 !important;
	}
	.help:before {
		font-family: FontAwesome;
		content: "\f05a";
	}
    select {
        border-radius: 5px;
        height: 25px;
        width: 25%;
        font-size: 14px;
    }
    </style>
{% endblock %}

{% block js_media %}

	{{ form.media.js }}
{% endblock %}

{% block body %}
    <form id="problem-create-panel" action="" method="post" class="form-area">
        {% csrf_token %}
        <div>
        <fieldset class="module aligned">
        <table>
        {% for item in form %}
            <tr class="form-row field-{{ str(item.id_for_label).split('id_')[1] }}">
                <td {% if item.id_for_label == "id_description" %} colspan="2" {% endif %} style="vertical-align:top;">
                <label class="required" for="{{ item.id_for_label }}"> {{ item.label }} </label>
                {% if item.id_for_label != "id_description" %}
                </td>
                <td style="padding: 4px 0px;">
                {% endif %}
                {{ item }}
                {% if item.help_text %}
                    <div class="help" style="margin-left: 0px">
                        {{ item.help_text }}
                    </div>
                {% endif %}
                </td>
            </tr>
        {% endfor %}
        </table>
        </fieldset>
        <button style="float:right; margin-top: 5px;" type="submit">{{ _('Save!') }}</button>
        </div>
    </form>
{% endblock %}

