{% extends "common-content.html" %}
{% block content_media %}
    {% include "comments/media-css.html" %}
    <style>
        .title-state {
            font-size: 2em;
            float: left;
            width: 1.1em;
            display: block;
            margin-top: 0.16em;
        }

        .info-float a {
            vertical-align: middle;
        }

        .problem-clarification {
            border-bottom: 1px solid #ccc;
            margin-top: 1em;
            margin-bottom: 1em;
        }

        .clarifications-area h2 {
            margin-bottom: 20px;
        }

        .problem-clarification .body {
            display: inline-block;
            padding-left: 3em;
        }

        #content-right {
            max-width: 13.5em;
            min-width: 12.5em;
        }

        #problem-types, #allowed-langs, #available-judges {
            padding-top: 1em;
        }

        .problem-info-entry {
            padding-top: 0.5em;
        }
    </style>
{% endblock %}

{% block content_js_media %}
    {% include "comments/media-js.html" %}
{% endblock %}

{% block title_row %}
    <div class="ui text menu">
        {% if request.user.is_authenticated %}
            {% if problem.id in completed_problem_ids %}
                <a class="item" href="{{ url('user_submissions', problem.code, request.user.username) }}">
                    {% if problem.is_public or request.in_contest %}
                        <i class="solved-problem-color title-state fa fa-check-circle"></i>
                    {% else %}
                        <i class="solved-problem-color title-state fa fa-lock"></i>
                    {% endif %}
                </a>
            {% elif problem.id in attempted_problems %}
                <a class="item" href="{{ url('user_submissions', problem.code, request.user.username) }}">
                    {% if problem.is_public or request.in_contest %}
                        <i class="attempted-problem-color title-state fa fa-minus-circle"></i>
                    {% else %}
                        <i class="attempted-problem-color title-state fa fa-lock"></i>
                    {% endif %}
                </a>
            {% endif %}
        {% endif %}
        <h2 class="item">{{ title }}</h2>
        {% if problem.is_organization_private %}
            <span class="item organization-tags">
                {% for org in problem.organizations.all() %}
                    <a class="ui label" href="{{ org.get_absolute_url() }}">
                        <i class="lock icon"></i> {{ org.name }}
                    </a>
                {% endfor %}
            </span>
        {% endif %}
        {% if has_pdf_render %}
        <div class="right menu">
            <a href="{{ url('problem_pdf', problem.code) }}" class="item view-pdf">
                <i class="file pdf outline large red icon"></i>
                {{ _('View as PDF') }}
            </a>
        </div>
        {% endif %}
    </div>
{% endblock %}

{% block info_float %}
    {% if request.user.is_authenticated and request.in_contest and submission_limit %}
        {% if submissions_left > 0 %}
            <a href="{{ url('problem_submit', problem.code) }}" class="ui primary fluid button">
                {{ _('Submit solution') }}
            </a>
            <div class="submissions-left">
                {% trans trimmed counter=submissions_left %}
                    {{ counter }} submission left
                    {% pluralize %}
                    {{ counter }} submissions left
                {% endtrans %}
            </div>
        {% else %}
            <a class="ui disabled fluid button">{{ _('Submit solution') }}</a>
            <div class="no-submissions-left submissions-left">{{ _('0 submissions left') }}</div>
        {% endif %}
    {% else %}
        <a href="{{ url('problem_submit', problem.code) }}" class="ui primary fluid button">
            {{ _('Submit solution') }}
        </a>
    {% endif %}

    <hr style="padding-bottom: 0.3em">
    <div class="ui fluid vertical inverted green menu">
        {% if request.user.is_authenticated and has_submissions %}
            <a class="item" href="{{ url('user_submissions', problem.code, request.user.username) }}">{{ _('My submissions') }}</a>
        {% endif %}
        <a class="item" href="{{ url('chronological_submissions', problem.code) }}">{{ _('All submissions') }}</a>
        <a class="item" href="{{ url('ranked_submissions', problem.code) }}">{{ _('Best submissions') }}</a>
    </div>

    <hr>
    
    {% if (editorial and editorial.is_accessible_by(request.user)) and not request.in_contest %}
    <div class="ui fluid vertical inverted red menu">
        <a class="item" href="{{ url('problem_editorial', problem.code) }}">{{ _('Read editorial') }}</a>
    </div>
    <hr>
    {% endif %}
    <div class="ui fluid vertical inverted blue menu">
    {% if can_edit_problem %}
    <a class="item" href="{{ url('problem_ticket_list', problem.code) }}">{{ _('Manage tickets') }}
        {% if num_open_tickets %}<span class="badge">{{ num_open_tickets }}</span>{% endif %}
    </a>
    <a class="item" href="{{ url('problem_edit', problem.code) }}">{{ _('Edit problem') }}</a>
    {% if not problem.is_manually_managed %}
    <a class="item" href="{{ url('problem_data', problem.code) }}">{{ _('Edit test data') }}</a>
    {% endif %}
    {% elif request.user.is_authenticated and has_tickets %}
    <hr>
    <a class="item" href="{{ url('problem_ticket_list', problem.code) }}">{{ _('My tickets') }}
        {% if num_open_tickets %}<span class="badge">{{ num_open_tickets }}</span>{% endif %}
    </a>
    {% endif %}

    {% if problem.is_subs_manageable_by(request.user) %}
    <a class="item" href="{{ url('problem_manage_submissions', problem.code) }}">{{ _('Manage submissions') }}</a>
    {% endif %}

    {% if perms.judge.clone_problem %}
    <a class="item" href="{{ url('problem_clone', problem.code) }}">{{ _('Clone problem') }}</a>  
    {% endif %}
    </div>

    <hr style="padding-top: 0.3em">

    <div class="ui list">
        <div class="item">
            <i class="check icon"></i>
            <div class="content">
                <div class="header">
                    {{ _('Points:') }}
                    {% if contest_problem %}
                        {{ contest_problem.points }}{% if contest_problem.partial %} {{ _('(partial)') }}{% endif %}
                    {% else %}
                        {{ problem.points|floatformat }}{% if problem.partial %} {{ _('(partial)') }}{% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="item">
            <i class="clock outline icon"></i>
            <div class="content">
                <div class="header">{{ _('Time limit: ') }}{{ problem.time_limit }}s</div>
            </div>
            {% if problem.language_time_limit %}
            <div class="list">
            {% for name, limit in problem.language_time_limit %}
                <div class="item">
                    <div class="content">
                        {{ name }}: {{ limit }}s
                    </div>
                </div>
            {% endfor %}
            </div>
            {% endif %}
        </div>
        <div class="item">
            <i class="server icon"></i>
            <div class="content">
                <div class="header">{{ _('Memory limit: ') }}{{ problem.memory_limit|kbsimpleformat }}</div>
            </div>
            {% if problem.language_memory_limit %}
            <div class="list">
                {% for name, limit in problem.language_memory_limit %}
                    <div class="item">
                        {{ name }}: {{ limit|kbsimpleformat }}
                    </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>

    <hr style="padding-top: 0.7em">
    <div class="ui list">
        {% if not contest_problem or not contest_problem.contest.hide_problem_authors %}
                {% with authors=problem.authors.all() %}
                    {% if authors %}
                        <div class="item">
                            <i class="edit outline icon"></i>
                            <div class="content">
                                <div class="header">
                                    {% trans trimmed count=authors|length %}
                                        Author:
                                    {% pluralize count %}
                                        Authors:
                                    {% endtrans %}
                                </div>
                                <div class="description">
                                    {{ link_users(authors) }}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endwith %}
        {% endif %}
    
        {% if not contest_problem or not contest_problem.contest.hide_problem_tags %}
            {% with types=problem.types_list %}
            <div class="ui accordion item">
                <div class="title header">
                    <i class="dropdown icon"></i>
                    {% trans trimmed count=problem.types_list|length %}
                        Problem type
                    {% pluralize count %}
                        Problem types
                    {% endtrans %}
                </div>
                <div class="content" style="padding-left: 2em">
                    <div class="description">{{ problem.types_list|join(", ") }}</div>
                </div>
            </div>
            {% endwith %}
        {% endif %}
        {% if show_languages %}
            <div class="ui accordion item">
                <div class="active title header">
                    <i class="dropdown icon"></i>
                    {{ _('Allowed languages') }}
                </div>
                <div class="active content" style="padding-left: 2em">
                    <div class="description">
                        {% with usable=problem.usable_common_names, langs=problem.languages_list() %}
                            {% for lang in langs %}
                                {%- if lang in usable -%}
                                    {{ lang }}
                                {%- else -%}
                                    <s title="{{ _('No %(lang)s judge online', lang=lang) }}">{{ lang }}</s>
                                {%- endif -%}
                                {% if not loop.last %}, {% endif -%}
                            {% endfor %}
                        {% endwith %}
                    </div>
                </div>
            </div>
        {% endif %}
        {% if problem.is_editable_by(request.user) %}
            <div class="item">
                <i class="database icon"></i>
                <div class="content">
                    <div class="header">{% trans trimmed count=available_judges|length %}
                        Judge:
                        {% pluralize count %}
                        Judges:
                    {% endtrans %}
                    </div>
                    <div class="description">
                        {% if available_judges %}
                            {% if perms.judge.change_judge %}
                                {% for judge in available_judges %}
                                    <a href="{{ url('admin:judge_judge_change', judge.id) }}">{{ judge.name }}</a>
                                    {%- if not loop.last %}, {% endif %}
                                {% endfor %}
                            {% else %}
                                {{ available_judges|join(", ") }}
                            {% endif %}
                        {% else %}
                            <i>{{ _('none available') }}</i>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block description %}
    {% cache 86400 'problem_html' problem.id MATH_ENGINE LANGUAGE_CODE %}
        {{ description|markdown(problem.markdown_style, MATH_ENGINE)|reference|str|safe }}
    {% endcache %}

    {% with license=problem.license %}
        {% if license %}
            <span class="license">
            <a href="{{ url('license', license.key) }}">{{ license.display or license.name }}</a>
        </span>
        {% endif %}
    {% endwith %}
{% endblock %}

{% block post_description_end %}
    {% if request.user.is_authenticated and not request.profile.mute %}
        <a href="{{ url('new_problem_ticket', problem.code) }}" class="ui right floated primary button">
            {%- if contest_problem and contest_problem.contest.use_clarifications and request.profile.current_contest.live -%}
                {{ _('Request clarification') }}
            {%- else -%}
                {{ _('Report an issue') }}
            {%- endif -%}
        </a>
    {% endif %}
{% endblock %}

{% block comments %}
    {% if contest_problem and contest_problem.contest.use_clarifications %}
        <div class="clarifications-area">
            <h2><i class="fa fa-question-circle"></i> {{ _('Clarifications') }}</h2>
            {% if has_clarifications %}
                {% for clarification in clarifications %}
                    <div class="problem-clarification">
                        <div class="time">{{ relative_time(clarification.date) }}</div>
                        <span class="body">
                            {{ clarification.description|markdown('problem', MATH_ENGINE)|reference }}
                        </span>
                    </div>
                {% endfor %}
            {% else %}
                <p class="no-comments-message">{{ _('No clarifications have been made at this time.') }}</p>
            {% endif %}
        </div>
    {% else %}
        {% include "comments/list.html" %}
    {% endif %}
{% endblock %}

{% block bodyend %}
    {{ super() }}
    {% include "comments/math.html" %}
    <script>
        $('.ui.accordion')
  .accordion()
;
    </script>
{% endblock %}
