<div class="ui pagination tiny black inverted menu">
    {% if page_obj.has_previous() %}
        {% if page_obj.previous_page_number() == 1 and first_page_href != None %}
            <a class="item" href="{{ first_page_href }}">
                <i class="chevron circle left icon"></i>
            </a>
        {% else %}
            <a class="item" href="{{ page_prefix or '' }}{{ page_obj.previous_page_number() }}{{ page_suffix or '' }}">
                <i class="chevron circle left icon"></i>
            </a>
        {% endif %}
        
    {% else %}
        <a class="disabled item">
            <i class="chevron circle left icon"></i>
        </a>
    {% endif %}

    {% for page in page_obj.page_range %}
        {% if not page %}
            <a class="disabled item">
                <i class="ellipsis horizontal icon"></i>
            </a>
        {% else %}
            <a{% if page == page_obj.number %} class="active blue item" {% else %} class="item" {% endif %} href="
                {%- if page == 1 and first_page_href != None -%}
                    {{ first_page_href }}
                {%- else -%}
                    {{ page_prefix or '' }}{{ page }}{{ page_suffix or '' }}
                {%- endif -%}
            ">{{ page }}</a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next() %}
        <a class="item" href="{{ page_prefix or '' }}{{ page_obj.next_page_number() }}{{ page_suffix or '' }}">
            <i class="chevron circle right icon"></i>
        </a>
    {% else %}
        <a class="disabled item"><i class="chevron circle right icon"></i></a>
    {% endif %}
</div>
