{% macro make_tab(name, fa, url, text) %}
    <li class="{% if tab == name %}border -mb-px border-black rounded-t-md border-t-4 border-t-blue-500 {% endif %} whitespace-nowrap p-4">
        {%- if url %}<a href="{{ url }}">{% else %}<span>{% endif -%}
        <i class="fa-solid {{ fa }}"></i> 
        <span class="hidden md:inline">{{ text }}</span>
        {%- if url %}</a>{% else %}</span>{% endif -%}
    </li>
{% endmacro %}

<div class="flex flex-col items-stretch justify-between flex-1 mb-4 overflow-x-auto overflow-y-hidden border-b border-black lg:flex-row">
    <div class="flex flex-col flex-1 justify-center text-3xl font-bold lg:max-w-[40%]">
        <span class="line-clamp-1">{{ _(content_title or title) }}</span>    
    </div>
    {% block post_tab_spacer %}{% endblock %}
    <ul class="flex items-baseline">
        {% block tabs %}{% endblock %}
    </ul>
</div>