<div class="sub-result {{ submission.result_class }}">
    <div class="score">
        {{ submission.case_points|floatformat(0) }} / {{ submission.case_total|floatformat(0) }}
    </div>

    <div class="state">
        <span title="{{ submission.long_status }}" class="status">{{ submission.short_status }}</span>
    </div>
</div>

<div class="sub-main">
    <div class="sub-info{% if submission.status == 'G' %} sub-info-grading{% endif %}">
        {% if show_problem %}
            <div class="name">
                <a href="{{ url('emath:exam_detail', submission.exam.exam.key) }}">{{ submission.exam.exam.name }}</a>
            </div>
        {% endif %}
        <div>
            {{ link_user(submission.user) }}
            <br class="xs-br">
            <span class="time">{{ relative_time(submission.date) }}</span>
        </div>
    </div>
</div>

<div class="sub-usage" style="width: 120px!important;">
    {% if submission.status in ('QU', 'P', 'G', 'CE', 'IE', 'AB') %}
        <div class="time">---</div>
    {% else %}
        {% if "TLE" != submission.result %}
            <div title="{{ submission.time }}s" class="time">
                {{ submission.time|timestampdelta('simple') }}
            </div>
        {% else %}
            <div class="time">---</div>
        {% endif %}
        {# No one actually like IEC prefixes, Jinja2. #}
    {% endif %}
</div>
