{% extends 'common-content.html' %}

{% block body %}
  <form class="p-10 mx-auto" action="" method="post">
    {% csrf_token %}
    {{ formset.management_form }}
    <table class="w-full">
      <thead class="text-white bg-black">
        <tr>
          <th class="p-2">{{ _('Fullname') }}</th>
          <th class="p-2">{{ _('Username') }}</th>
          <th class="p-2">{{ _('Password') }}</th>
          <th class="p-2">{{ _('Email') }}</th>
          <th class="p-2">{{ _('Day expired') }}</th>
          <th class="p-2">{{ _('Organization') }}</th>
        </tr>
      </thead>
      <tbody>
        {% for form in formset %}
        <tr class="">
          {{ form.mshv }}
          <td class="p-2 text-center">
            {{ form.fullname }}
          </td>
          <td class="p-2 text-center">
            {{ form.username }}
          </td>
          <td class="p-2 text-center">
            <input type="text" placeholder="Auto generate!" autocomplete=off>
          </td>
          <td class="p-2 text-center">
            {{ form.email }}
          </td>
          <td class="p-2 text-center">
            {{ form.day_expire }}
          </td>
          <td class="p-2 text-center">
            {{ form.organization }}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="mt-4">
      <button type="submit" class="text-xl min-w-[20rem] cursor-pointer focus:ring focus:ring-blue-500 shadow-lg btn-default transition-all ease-in-out duration-500 hover:bg-[100%_0%] py-2 font-bold text-center text-white rounded-2xl">Save</button>
    </div>
  </form>
{% endblock body %} 