{% extends 'common-content.html' %}

{% block body %}
<form action="" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {% for item in form %}
    <div class="form-group">
      <label for="{{ item.id_for_label }}">{{ item.label }}</label>
      {% if item.errors %}
        <ul class="text-red-500">
          {% for error in item.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      {{ item }}
    </div>
  {% endfor %}
  <input type="submit" value="Submit">
</form>
{% endblock body %}