{% extends "user/user-base.html" %}

{% block user_media %}
    {% include "timezone/media-css.html" %}
    {{ form.media.css }}
{% endblock %}

{% block js_media %}
    {% include "timezone/media-js.html" %}
    {{ form.media.js }}
{% endblock %}

{% block title_ruler %}{% endblock %}

{% block title_row %}
    {% set tab = 'edit' %}
    {% include "user/user-tabs.html" %}
{% endblock %}

{% block body %}
    <div class="max-w-4xl mx-auto">
        <div class="flex flex-col w-full p-4 my-4 border rounded-md">
            <div class="flex">
                <div class="flex gap-2 basis-1/2">
                    <div class="basis-1/2">
                        <img src="{{ gravatar(user.user, 200) }}" alt="{{ user.username }}" class="w-40 h-40 border rounded-lg">
                    </div>
                    <div class="flex flex-col gap-1 py-2 basis-1/2">
                        <div class="text-3xl font-semibold">
                            {% if user.name %}
                                {{ user.name }}
                            {% else %}
                                {{ user.username }}
                            {% endif %}
                        </div>
                        <div class="text-lg">
                            @{{ user.username }}
                        </div>
                        <div class="font-semibold text-gray-400">
                            {{ _('Last seen')}} {{ relative_time(user.last_access) }}
                        </div>
                        <a href="http://www.gravatar.com/" title="{{ _('Change your avatar') }}" target="_blank" class="px-4 py-2 text-white bg-blue-500 rounded-md" rel="noopener">
                            <i class="fa-duotone fa-camera"></i>
                            <span class="ml-4">{{ _('Change avatar') }}</span>
                        </a>
                    </div>
                </div>
                <div class="flex flex-col items-end gap-2 basis-1/2">
                    <div class="px-2 py-0.5 font-bold text-white bg-gray-500 rounded-md">{{ user.display_rank }}</div>
                    <div class="text-sm text-gray-700">{{ _('Joined in')}} {{ user.user.date_joined|utc|date('Y-M-d') }}</div>
                </div>
            </div>
        </div>
        <div class="flex w-full gap-1 border-b">
            <div class="p-2 -mb-px text-lg font-semibold border border-b-white rounded-t-md">Settings</div>
        </div>
        <form id="edit-form" action="" method="post" class="p-4 border !border-t-white">
            {% if form.non_field_errors() %}
            <div class="flex flex-col">
                {{ form.non_field_errors() }}
            </div>
            {% endif %}

            {% csrf_token %}
            <div class="pt-2">
                <label for="{{ form.about.id_for_label }}" class="block text-gray-700">
                    {{ _('Self-description') }}:
                </label>
                {{ form.about }}
            </div>
            <hr>

            <div class="settings" style="padding-top:0.7em">
                <table class="w-full table-auto">
                    <tr title="{{ _('Select your closest major city') }}">
                        <td><label class="inline-header grayed">{{ _('Timezone') }}:</label></td>
                        <td><span class="w-full">{{ form.timezone }}</span></td>
                    </tr>
                    <tr>
                        <td><label class="inline-header grayed">{{ _('Language') }}:</label></td>
                        <td><span class="fullwidth">{{ form.language }}</span></td>
                    </tr>
                    <tr>
                        <td><label class="inline-header grayed">{{ _('Editor theme') }}:</label></td>
                        <td><span class="fullwidth">{{ form.ace_theme }}</span></td>
                    </tr>
                    {% if has_math_config %}
                    <tr>
                        <td><label class="inline-header grayed">{{ _('Math engine') }}:</label></td>
                        <td><span class="fullwidth">{{ form.math_engine }}</span></td>
                    </tr>
                    {% endif %}
                </table>
            </div>
            <hr>
            <div class="settings" style="padding-top:0.7em">
                <table class="w-full">
                    <tr><td>
                        <a href="{{ url('password_change') }}" class="inline-header text-indigo-500">
                            {{ _('Change your password') }}
                        </a>
                    </td></tr>
                    {% if can_download_data %}
                        <tr><td>
                            <a href="{{ url('user_prepare_data') }}" class="inline-header text-indigo-500">
                                {{ _('Download your data') }}
                            </a>
                        </td></tr>
                    {% endif %}
                </table>
            </div>
            <hr>

            <input type="submit" class="w-full p-2 mt-4 font-bold text-white bg-blue-500 rounded-md cursor-pointer hover:bg-blue-600" value="{{ _('Update profile') }}">
        </form>
    </div>
{% endblock %}
