{% extends "user/base-users.html" %}

{% block users_media %}
    <style>
        #users-table td:nth-child(2), #users-table th:nth-child(2) {
            border-right: none;
            text-align: left;
        }

    </style>
{% endblock %}

{% block title_ruler %}{% endblock %}

{% block title_row %}
    {% set tab = 'list' %}
    {% set title = 'Leaderboard' %}
    {% include "user/user-list-tabs.html" %}
{% endblock %}

{% block before_body %}
<div class="hidden mb-8 text-4xl font-semibold lg:block">{{ _('Top Users') }}</div>
<div class="hidden mx-10 space-x-8 lg:flex">
    <div class="rounded-lg shadow-lg basis-1/3">
        <div class="pt-6 pb-8 rounded-t-lg bg-neutral-300">
            <div class="text-2xl font-semibold text-center ">
                {{ silver.performance_points|floatformat(0) }}p
            </div>
        </div>
        <div class="p-4 -mt-10 bg-transparent">
            <div class="text-center">
                <img src="{{ gravatar(silver.user, 200) }}" class="inline-block w-16 h-16 border-4 border-white rounded-full" alt="">
                <div class="text-xl font-semibold">
                    {% if silver.name %}{{silver.name}}{% else %}{{ silver.username}}{% endif %}
                </div>
                <div class="text-gray-600">
                    @{{silver.username}}
                </div>
                <hr class="my-4">
                <div class="flex items-center justify-between">
                    <div class="text-2xl font-bold"><span class="rating {{ rating_class(silver) }}">{{ silver.rating }}</span></div>
                    <a href="{{ url('user_page', silver.username) }}" class="p-2 text-blue-500 border border-blue-500 rounded-md">View profile</a>
                </div>
            </div>
        </div>
    </div>
    <div class="scale-110 rounded-lg shadow-lg basis-1/3">
        <div class="pt-6 pb-8 bg-yellow-400 rounded-t-lg">
            <div class="text-2xl font-semibold text-center ">
                {{ gold.performance_points|floatformat(0) }}p
            </div>
        </div>
        <div class="p-4 -mt-10 bg-transparent">
            <div class="text-center">
                <img src="{{ gravatar(gold.user, 200) }}" class="inline-block w-16 h-16 border-4 border-white rounded-full" alt="">
                <div class="text-xl font-semibold">
                    {% if gold.name %}{{gold.name}}{% else %}{{ gold.username}}{% endif %}
                </div>
                <div class="text-gray-600">
                    @{{gold.username}}
                </div>
                <hr class="my-4">
                <div class="flex items-center justify-between">
                    <div class="text-2xl font-bold"><span class="rating {{ rating_class(gold) }}">{{ gold.rating }}</span></div>
                    <a href="{{ url('user_page', gold.username) }}" class="p-2 text-blue-500 border border-blue-500 rounded-md">View profile</a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="rounded-lg shadow-lg basis-1/3">
        <div class="pt-6 pb-8 bg-yellow-600 rounded-t-lg">
            <div class="text-2xl font-semibold text-center ">
                {{ bronze.performance_points|floatformat(0) }}p
            </div>
        </div>
        <div class="p-4 -mt-10 bg-transparent">
            <div class="text-center">
                <img src="{{ gravatar(bronze.user, 200) }}" class="inline-block w-16 h-16 border-4 border-white rounded-full" alt="">
                <div class="text-xl font-semibold">
                    {% if bronze.name %}{{bronze.name}}{% else %}{{ bronze.username}}{% endif %}
                </div>
                <div class="text-gray-600">
                    @{{bronze.username}}
                </div>
                <hr class="my-4">
                <div class="flex items-center justify-between">
                    <div class="text-2xl font-bold"><span class="rating {{ rating_class(bronze) }}">{{ bronze.rating }}</span></div>
                    <a href="{{ url('user_page', bronze.username) }}" class="p-2 text-blue-500 border border-blue-500 rounded-md">View profile</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="items-center hidden mt-16 mb-4 text-3xl font-bold text-gray-700 lg:flex">
    <span class="pr-5"> {{ _('All Users') }} </span>
    <div class="flex flex-col flex-1">
        <span class="inline-block w-full h-2 bg-gray-200 rounded-full "></span>
    </div>
</div>
{% endblock before_body %}

{% block users_table %}
    {% include "user/users-table.html" %}
{% endblock %}