{% extends 'base.html' %}

{% block body %}
<form action="" method="post" class="w-1/2 p-4 mx-auto mt-10 border rounded-lg">
  {% csrf_token %}
  {% if form.non_field_errors() %}
    {{ form.non_field_errors() }}
  {% endif %}
  <label for="{{ form.prefix_user.id_for_label }}" class="block" required>
    <span class="font-semibold text-gray-700">{{ form.prefix_user.label }}</span>
    <input type="text" id="{{ form.prefix_user.id_for_label }}" name="prefix_user" class="block w-full px-3 py-2 mt-1 border-gray-300 rounded-md shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
    {% if form.prefix_user.errors %}
    <span class="block text-red-500">{{ form.prefix_user.errors }}</span>
    {% endif %}
  </label>
  <div class="flex w-full gap-4">
    <label for="{{ form.start_id.id_for_label }}" class="block basis-1/2" required>
      <span class="font-semibold text-gray-700">{{ form.start_id.label }}</span>
      <input type="number" id="{{ form.start_id.id_for_label }}" name="start_id" class="block w-full px-3 py-2 mt-1 border-gray-300 rounded-md shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
      {% if form.start_id.errors %}
      <span class="block text-red-500">{{ form.start_id.errors }}</span>
      {% endif %}
    </label>
    <label for="{{ form.end_id.id_for_label }}" class="block basis-1/2" required>
      <span class="font-semibold text-gray-700">{{ form.end_id.label }}</span>
      <input type="number" id="{{ form.end_id.id_for_label }}" name="end_id" class="block w-full px-3 py-2 mt-1 border-gray-300 rounded-md shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
      {% if form.end_id.errors %}
      <span class="block text-red-500">{{ form.end_id.errors }}</span>
      {% endif %}
    </label>
  </div>
  <label for="{{ form.organization.id_for_label }}" class="block">
    <span class="font-semibold text-gray-700">{{ form.organization.label }}</span>
    <select name="organization" id="{{ form.organization.id_for_label }}" class="block w-full px-3 py-2 mt-1 border-gray-300 rounded-md shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
      <option value=""></option>
      {% for id, name in all_organization %}
        <option value="{{ id }}">{{ name }}</option>
      {% endfor %}
    </select>
  </label>
  <input type="submit" value='Create' class="w-full p-2 mt-4 font-bold text-white bg-blue-500 rounded-md cursor-pointer hover:bg-blue-600">
</form>
{% endblock body %}