<div class="min-w-[6rem] w-24 text-center {{ breakdown.sub_result_class }}">
    <div class="text-xl text-black">{{ breakdown.sub_points|floatformat(0) }} / {{ breakdown.sub_total|floatformat(0) }}</div>
    <div class="pt-2 text-xs font-bold">
        <span title="{{ breakdown.sub_long_status }}" class="status">{{ breakdown.sub_short_status }}</span>
        |
        <span class="language">{{ breakdown.sub_lang }}</span>
    </div>
</div>

<div class="justify-between flex-1 !pl-5">
    <div class="flex flex-col">
        <div class="text-xl font-bold">
            <a href="{{ url('problem_detail', breakdown.problem_code) }}">{{ breakdown.problem_name }}</a>
        </div>
        <div class="text-gray-500">{{ relative_time(breakdown.sub_date) }}</div>
    </div>
</div>

<div class="text-right whitespace-nowrap">
    <div class="text-xl font-semibold">
        <a href="{{ url('submission_status', breakdown.sub_id) }}">{{ breakdown.points|floatformat(0) }}pp</a>
    </div>
    <div class="text-gray-600">
        {% trans weight=breakdown.weight|floatformat(0) %}
            weighted <b>{{ weight }}%</b>
        {% endtrans %}

        {% if breakdown.scaled_points < 10 %}
            ({{ _('%(pp).1fpp', pp=breakdown.scaled_points) }})
        {% else %}
            ({{ _('%(pp).0fpp', pp=breakdown.scaled_points) }})
        {% endif %}
    </div>
</div>
