{% extends 'common-content.html' %}

{% block body %}
<div class="w-full p-10 flex flex-col gap-4">
  <div class="">
    <a href="?download=true" class="w-full text-2xl shadow-lg btn-default transition-all ease-in-out duration-500 hover:bg-[100%_0%] py-2 px-4 font-bold text-center text-white rounded-2xl">{{ _('Download') }}</a>
  </div>
  <table class="text-xl w-full">
    <thead class="bg-black text-white">
      <tr>
        <th class="p-2">{{ _('MSHV') }}</th>
        <th class="p-2">{{ _('Fullname') }}</th>
        <th class="p-2">{{ _('Username') }}</th>
        <th class="p-2">{{ _('Password') }}</th>
        <th class="p-2">{{ _('Organization') }}</th>
      </tr>
    </thead>
    <tbody>
      {% for data in update_list %}
      <tr class="{{ loop.cycle('bg-gray-300', 'bg-gray-500') }} hover:bg-blue-300 font-semibold divide-x hover:text-black">
        {% for item in data %}
        <td class="p-2 text-center">
          {{ item }}
        </td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock body %} 