{% extends "user/user-base.html" %}

{% block user_js_media %}
    <script type="text/javascript">
        window.show_pp_base = 1;
        window.currently_requesting_pp = false;
        window.load_more_pp = function () {
            if (window.currently_requesting_pp) return;
            window.currently_requesting_pp = true;

            $.get('{{ url('user_pp_ajax', user.user.username) }}', {
                start: window.show_pp_base * 10,
                end: (window.show_pp_base + 1) * 10
            }).done(function (data) {
                var results = $(data['results']);
                $('.pp-table').append(results);
                register_time(results.find('.time-with-rel'));
                window.show_pp_base++;
                if (!data['has_more']) {
                    $("#pp-load-link-wrapper").hide();
                }
                window.currently_requesting_pp = false;
            });
        };
    </script>
{% endblock %}

{% block title_ruler %}{% endblock %}

{% block title_row %}
    {% set tab = 'problems' %}
    {% include "user/user-tabs.html" %}
{% endblock %}

{% block user_content %}
    {% if pp_breakdown %}
        <h3 class="mb-4 text-2xl font-bold">{{ _('Points breakdown') }}</h3>
        <div id="submissions-table" class="table w-full bg-black/5 pp-table">
            {% include "user/pp-table-body.html" %}
        </div>
        {% if pp_has_more %}
            <div class="text-center border" id="pp-load-link-wrapper">
                <a class="block py-2 font-bold cursor-pointer hover:bg-black/10" href="javascript:load_more_pp()">{{ _('Load more...') }}</a>
            </div>
        {% endif %}
    {% else %}
        <i>{{ _('This user has not yet solved any problems.') }}</i>
    {% endif %}

    {% if authored %}
        <details class="block px-2 my-5 rounded-md bg-gray-50 border transition-all ease-in-out">
            <summary class="border-none font-bold -mx-2 px-4 py-2 relative block min-h-[1rem] cursor-pointer rounded-t-md text-xl">
                {{ _('Authored problems') }} ({{ authored|length }})
            </summary>
            <div class="p-4 font-bold">
                <table class="w-full border border-collapse border-black">
                    <thead>
                    <tr class="[&>*]:text-center [&>*]:bg-black [&>*]:text-white [&>*]:py-3 divide-x divide-white">
                        <th>{{ _('Problem') }}</th>
                        <th>{{ _('Category') }}</th>
                        <th>{{ _('Points') }}</th>
                    </tr>
                    </thead>
                    <tbody class="divide-y divide-slate-300">
                    {% for problem in authored %}
                        <tr class="divide-x divide-slate-300">
                            <td class="text-indigo-500 hover:text-indigo-700 p-2">
                                <a href="{{ url('problem_detail', problem.code) }}">{{ problem.name }}</a>
                            </td>
                            <td class="p-2">{{ problem.group.full_name }}</td>
                            <td class="p-2 text-center text-indigo-500 hover:text-indigo-700"><a href="{{ url('ranked_submissions', problem.code) }}">
                                {{ problem.points|floatformat }}{% if problem.partial %}p{% endif %}
                            </a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </details>
    {% endif %}

    {% if request.user.is_authenticated and request.user != user.user %}
        <div class="hide-solved-problems"><span>
            <form name="form" action="" method="get">
                <input id="hide_solved" style="vertical-align:middle" onclick="form.submit()" type="checkbox"
                       name="hide_solved"{% if hide_solved %} checked{% endif %} value="1">
                <label style="vertical-align:middle" for="hide_solved">{{ _("Hide problems I've solved") }}</label>
            </form>
        </span></div>
    {% else %}
        <hr>
    {% endif %}

    {% for group in best_submissions %}
        <details class="block px-2 my-5 rounded-md bg-gray-50 border transition-all ease-in-out">
            <summary class="border-none font-bold -mx-2 px-4 py-2 relative block min-h-[1rem] cursor-pointer rounded-t-md text-xl">
                {{ group.name }} ({{ _('%(points).1f points', points=group.points) }})
            </summary>
            <div class="p-4 font-bold">
                <table class="w-full border border-collapse border-black">
                    <thead >
                    <tr class="[&>*]:text-center [&>*]:bg-black [&>*]:text-white [&>*]:py-3 divide-x divide-white">
                        <th>{{ _('Problem') }}</th>
                        <th>{{ _('Score') }}</th>
                    </tr>
                    </thead>
                    <tbody class="divide-y divide-slate-300">
                    {% for entry in group.problems %}
                        <tr class="divide-x divide-slate-300">
                            <td class="text-indigo-500 hover:text-indigo-700 p-2">
                                <a href="{{ url('problem_detail', entry.code) }}">{{ entry.name }}</a>
                            </td>
                            <td class="text-center p-2 text-indigo-500 hover:text-indigo-700">
                                <a href="{{ url('user_submissions', entry.code, user.user.username) }}">
                                    {{ _('%(points)s / %(total)s', points=entry.points, total=entry.total) }}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </details>
    {% endfor %}
{% endblock %}
